.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  background-size: cover;
  height: 100vh;
}
.app-store-heading {
  font-family: 'Bree serif';
  font-size: 48px;
  color: #1e293b;
}
.search-bar {
  border: 1px solid #7b8794;
  background-color: transparent;
  width: 20%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
}
.search-box {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
}
.search-icon {
  width: 30px;
}
.tabs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.apps-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}
